<title>{{ title }}</title>
<hr>
<!-- About Us  -->
<div class="container-fluid mt-5">
    <div class="row m-2 ">
        <div class="col-lg-7 col-12">
            <h5 class="active">About Us ----</h5>
            <h1>WELCOME TO <strong class="active">XUANTHUY</strong></h1>
            <p>Với hệ thống hàng nghìn căn Villa, Biệt Thự trải dài khắp các địa điểm du lịch trên cả nước, từ Bắc vào Nam như Sầm Sơn, Đà Lạt, Vũng Tàu, Flamingo Đại Lải, Hạ Long, Nha Trang, Phú Quốc,... Tico Travel tự hào là đơn vị hàng đầu trong lĩnh vực cho thuê villa biệt thự trên toàn quốc.</p>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-6 mb-3">
                    <div class="card text-center ">
                        <div class="card-body img2">
                            <h5 class="card-title"><i class="fa-solid fa-hotel fs-1 active"></i></h5>
                            <p class="card-text fs-3">
                                <strong>123</strong> <br>
                                Rooms
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="card text-center ">
                        <div class="card-body img2">
                            <h5 class="card-title"><i class="fa-solid fa-users-gear fs-1 active"></i></h5>
                            <p class="card-text fs-3">
                                <strong>123</strong> <br>
                                Staffs
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="card text-center ">
                        <div class="card-body img2">
                            <h5 class="card-title"><i class="fa-solid fa-users fs-1 active"></i></h5>
                            <p class="card-text fs-3">
                                <strong>123</strong> <br>
                                Custemors
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-3 col-md-3 col-6 mt-2 mb-md-4">
                <button class="btn btn-bg p-3 w-100 h-100 text-white img2 ">EXPLORE MORE</button>
            </div>
        </div>

        <div class="col-lg-5 col-12 ">
            <div class="row text-center ">
                <div class="col-lg-5 col-md-5 mt-lg-3 mt-md-3 mt-3 ">
                    <img src="public/image/about-1.jpg" class="img-fluid img2 " alt="">
                </div>
                <div class="col-lg-6 col-md-6 mt-lg-3 mt-md-3 mt-3">
                    <img src="public/image/about-2.jpg" class="img-fluid img2" alt="">
                </div>
                <div class="col-lg-6 col-md-6 mt-lg-3 mt-md-3 mt-3">
                    <img src="public/image/about-3.jpg" class="img-fluid img2" alt="">
                </div>
                <div class="col-lg-5 col-md-5 mt-lg-5 mt-md-5 ">
                    <img src="public/image/about-4.jpg" class="img-fluid mt-2 img2" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End About Us  -->
<div class="container-fluid mt-5">
    <div class="row m-2">
        <h5 class="active">Quy trình thuê khách sạn---</h5>
        <div class="col-lg-6 col-md-6 col-12 mt-3">
            <img src="public/image/room-1.jpg " class="img-fluid img2" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-12 mt-3">
            <p>Với hệ thống hàng nghìn căn Villa, Biệt Thự trải dài khắp các địa điểm du lịch trên cả nước, từ Bắc vào Nam như Sầm Sơn, Đà Lạt, Vũng Tàu, Flamingo Đại Lải, Hạ Long, Nha Trang, Phú Quốc,... Tico Travel tự hào là đơn vị hàng đầu trong lĩnh vực cho thuê villa biệt thự trên toàn quốc.</p>
            <p>Với hệ thống hàng nghìn căn Villa, Biệt Thự trải dài khắp các địa điểm du lịch trên cả nước, từ Bắc vào Nam như Sầm Sơn, Đà Lạt, Vũng Tàu, Flamingo Đại Lải, Hạ Long, Nha Trang, Phú Quốc,... Tico Travel tự hào là đơn vị hàng đầu trong lĩnh vực cho thuê villa biệt thự trên toàn quốc.</p>
            <div>
                <a href="" class="btn btn-bg text-white w-25 img2">ĐẶT NGAY</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row m-2">
        <h3 class="active text-center">Câu hỏi thường gặp</h3>
        <div class="mt-4">
            <img src="public/image/anh3.jpg" class="w-100 img2" height="400" alt="">
        </div>
        <div class="mt-3">
            <p>Với hệ thống hàng nghìn căn Villa, Biệt Thự trải dài khắp các địa điểm du lịch trên cả nước, từ Bắc vào Nam như Sầm Sơn, Đà Lạt, Vũng Tàu, Flamingo Đại Lải, Hạ Long, Nha Trang, Phú Quốc,... Tico Travel tự hào là đơn vị hàng đầu trong lĩnh vực cho thuê villa biệt thự trên toàn quốc.</p>
            <p>Với hệ thống hàng nghìn căn Villa, Biệt Thự trải dài khắp các địa điểm du lịch trên cả nước, từ Bắc vào Nam như Sầm Sơn, Đà Lạt, Vũng Tàu, Flamingo Đại Lải, Hạ Long, Nha Trang, Phú Quốc,... Tico Travel tự hào là đơn vị hàng đầu trong lĩnh vực cho thuê villa biệt thự trên toàn quốc.</p>

        </div>
    </div>
</div>