<title>{{ title }}</title>
<hr>


    <div class="container-fluid">
        <div class="row m-2">
            <h3 class="active text-center">---Thông tin đặt phòng---</h3>
            <div class="col col-6 mt-3">
                <div class="form-group">
                    <label>Ngày nhận phòng</label>
                    <div class="input-group">
                        <input type="date" name="ngaynhanphong" ng-model="inputValue.ngaynhanphong" class="form-control"
                             aria-describedby="basic-addon2" />
                    </div>
                    <span ng-show="kiemTraDuLieu.ngaynhanphong" class="text-danger">{{ kiemTraDuLieu.ngaynhanphong }}</span>
                </div>
            </div>
            <div class="col col-6 mt-3">
                <div class="form-group">
                    <label>Ngày trả phòng</label>
                    <div class="input-group">
                        <input type="date" name="ngaytraphong" ng-model="inputValue.ngaytraphong" class="form-control"
                             aria-describedby="basic-addon2" />
                    </div>
                    <span ng-show="kiemTraDuLieu.ngaytraphong" class="text-danger">{{ kiemTraDuLieu.ngaytraphong }}</span>
                </div>
            </div>

            <div class="col col-6 mt-3">
                <div class="form-group">
                    <label>Tên người đặt phòng</label>
                    <div class="input-group">
                        <input type="text" name="name" ng-model="inputValue.name" class="form-control"
                            placeholder="Tên người đặt phòng" aria-describedby="basic-addon2" />
                    </div>
                    <span ng-show="kiemTraDuLieu.name" class="text-danger">{{ kiemTraDuLieu.name }}</span>
                </div>
            </div>
            <div class="col col-6 mt-3">
                <div class="form-group">
                    <label>Số CMND || CCCD</label>
                    <div class="input-group">
                        <input type="text" name="cmnd" ng-model="inputValue.cmnd" class="form-control" placeholder="Số CMND || CCCD"
                            aria-describedby="basic-addon2" />
                    </div>
                    <span ng-show="kiemTraDuLieu.cmnd" class="text-danger">{{ kiemTraDuLieu.cmnd }}</span>

                </div>
            </div>
            <div class="col col-6 mt-3">
                <div class="form-group">
                    <label>Ngày sinh</label>
                    <div class="input-group">
                        <input type="date" name="ngaysinh" ng-model="inputValue.ngaysinh" class="form-control" aria-describedby="basic-addon2" />                        
                    </div>
                    <span ng-show="kiemTraDuLieu.ngaysinh" class="text-danger">{{ kiemTraDuLieu.ngaysinh }}</span>

                </div>
            </div>
            <div class="col col-6 mt-3">
                <div class="form-group">
                    <label>Giới tính</label>
                    <div class="pt-2  border" style="border-radius: 5px; height: 39px;">
                        <input type="radio" class="ms-2" name="gender" ng-model="inputValue.gender" value="1" /> Nam
                        <input type="radio" name="gender" ng-model="inputValue.gender" value="2" /> Nữ
                    </div>
                    <span ng-show="kiemTraDuLieu.gender" class="text-danger">{{ kiemTraDuLieu.gender }}</span>

                </div>
            </div>
            <div class="col col-6 mt-3">
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-group">
                        <input type="text" name="email" ng-model="inputValue.email" class="form-control" placeholder="Email"
                            aria-describedby="basic-addon2" />
                    </div>
                    <span ng-show="kiemTraDuLieu.email" class="text-danger">{{ kiemTraDuLieu.email }}</span>

                </div>
            </div>
            <div class="col col-6 mt-3">
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <div class="input-group">
                        <input type="text" name="address" ng-model="inputValue.address" class="form-control" placeholder="Địa chỉ"
                            aria-describedby="basic-addon2" />
                    </div>
                    <span ng-if="kiemTraDuLieu.address" class="text-danger">{{ kiemTraDuLieu.address }}</span>

                </div>
            </div>
            <div class="col col-6 mt-3">
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <div class="input-group">
                        <input type="text" name="numberphone" ng-model="inputValue.numberphone" class="form-control" placeholder="Số điện thoại"
                            aria-describedby="basic-addon2" />
                    </div>
                    <span ng-show="kiemTraDuLieu.numberphone" class="text-danger">{{  kiemTraDuLieu.numberphone }}</span>
                    

                </div>
                  
            </div>
            <div class="col col-6 mt-3">
                <div class="form-group">
                    <label>Hình thức thanh toán</label>
                    <select name="" class="form-select" ng-model="inputValue.pttt" id="">
                        <option value="">---Chọn---</option>
                        <option value="1">Thanh toán bằng thẻ ngân hàng</option>
                        <option value="2">Thanh toán tiền mặt</option>
                    </select>
                    <span ng-show="kiemTraDuLieu.pttt" class="text-danger">{{ kiemTraDuLieu.pttt }}</span>

                </div>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-3">
                <button ng-click="onSubmitForm()" type="submit"  class="btn btn-bg text-white"> Đồng ý đặt hàng</button>
                <input type="reset" value="Nhập lại" class="btn btn-dark text-white">
            </div>
        </div>
    </div>

    <h2 class="mt-3 text-center active">---Hoá đơn---</h2>
<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th class="col-1">#</th>
            <th class="col-1">Tên</th>
            <th class="col-1">Ngày nhận</th>
            <th class="col-1">Ngày trả</th>
            <th class="col-1">CMND</th>
            <th class="col-1">Ngày sinh </th>
            <th class="col-1">Giới tính</th>
            <th class="col-1">Email</th>
            <th class="col-1">Địa chỉ</th>
            <th class="col-1">Số điện thoại</th>
            <th class="col-1">PTTT</th>
            <th class="col-1">Hành động</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="value in bill">
                <td>{{ value.id }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.ngaynhanphong }}</td>
                <td>{{ value.ngaytraphong }}</td>
                <td>{{ value.cmnd }}</td>
                <td>{{ value.ngaysinh }}</td>
                <td>{{ value.gender ==1? "Nam" : "Nữ" }}</td>
                <td>{{ value.email }}</td>
                <td>{{ value.address }}</td>
                <td>{{ value.numberphone }}</td>
                <td>{{ value.pttt==1 ? "Thanh toán bằng thẻ": "Thanh toán tiền mặt" }}</td>
                <td>
                    <button ng-click="onEdit(value.id)" class="btn btn-primary w-100">Edit</button>
                    <button ng-click="onDelete(value.id)" class="btn btn-danger w-100 mt-2">Delete</button>
                </td>
            </tr>
           
        </tbody>
</table>
