
<title>{{ title }}</title>

 <!-- SlideShow -->
 <div id="carouselExampleCaptions" class="carousel slide ">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <img src="public/image/anh1.jpg" class="d-block w-100 " height="500" alt="...">
            <div class="carousel-caption mb-lg-5 mb-md-5 ">
                <p>BỘ SƯU TẬP KHÁCH SẠN THƯỢNG LƯU</p>
                <p class="fs-1">Đặt phòng trong tích tắc</p>
                <button class="btn btn-outline-light img2">Tìm hiểu thêm</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="public/image/anh2.jpg" class="d-block w-100" height="500" alt="...">
            <div class="carousel-caption mb-lg-5 mb-md-5 ">
                <p>BỘ SƯU TẬP KHÁCH SẠN THƯỢNG LƯU</p>
                <p class="fs-1">Đặt phòng trong tích tắc</p>
                <button class="btn btn-outline-light img2">Tìm hiểu thêm</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="public/image/anh3.jpg" class="d-block w-100 " height="500" alt="...">
            <div class="carousel-caption mb-lg-5 mb-md-5 ">
                <p>BỘ SƯU TẬP KHÁCH SẠN THƯỢNG LƯU</p>
                <p class="fs-1">Đặt phòng trong tích tắc</p>
                <button class="btn btn-outline-light img2">Tìm hiểu thêm</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- End SlideShow  -->

<div class="container-fluid    ">
    <div class="row bg-light m-2 mt-4">
        <div class="col-lg-3 col-md-3 form-group mt-4 ">
            <label for="" class="mb-1">CHECK-IN</label>
            <input type="date" class="form-control" name="" id="">
        </div>
        <div class="col-lg-3 col-md-3 form-group mt-4 ">
            <label for="" class="mb-1">CHECK-IN</label>
            <input type="date" class="form-control" name="" id="">
        </div>
        <div class="col-lg-3 col-md-3 form-group mt-4 ">
            <label for="" class="mb-1">ADULTS</label>
            <select name="" class="form-select" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
            </select>
        </div>
        <div class="col-lg-3 col-md-3 mt-4 ">
            <label for="" class="mb-1">CHILDREN</label>
            <select name="" class="form-select" id="">
                <option value="">0</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mx-auto mb-4 form-group mt-4 ">
            <button class="btn btn-bg w-100 text-white img2">SEARCH</button>
        </div>
    </div>
</div>

<!-- About Us  -->
<div class="container-fluid mt-5">
    <div class="row m-2 ">
        <div class="col-lg-7 col-12">
            <h5 class="active">About Us ----</h5>
            <h1>WELCOME TO <strong class="active">XUANTHUY</strong></h1>
            <p>Với hệ thống hàng nghìn căn Villa, Biệt Thự trải dài khắp các địa điểm du lịch trên cả nước, từ Bắc vào Nam như Sầm Sơn, Đà Lạt, Vũng Tàu, Flamingo Đại Lải, Hạ Long, Nha Trang, Phú Quốc,... Tico Travel tự hào là đơn vị hàng đầu trong lĩnh vực cho thuê villa biệt thự trên toàn quốc.</p>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-6 mb-3">
                    <div class="card text-center ">
                        <div class="card-body img2">
                            <h5 class="card-title"><i class="fa-solid fa-hotel fs-1 active"></i></h5>
                            <p class="card-text fs-3">
                                <strong>123</strong> <br>
                                Rooms
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="card text-center ">
                        <div class="card-body img2">
                            <h5 class="card-title"><i class="fa-solid fa-users-gear fs-1 active"></i></h5>
                            <p class="card-text fs-3">
                                <strong>123</strong> <br>
                                Staffs
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="card text-center ">
                        <div class="card-body img2">
                            <h5 class="card-title"><i class="fa-solid fa-users fs-1 active"></i></h5>
                            <p class="card-text fs-3">
                                <strong>123</strong> <br>
                                Custemors
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-3 col-md-3 col-6 mt-2 mb-md-4">
                <button class="btn btn-bg p-3 w-100 h-100 text-white img2 ">EXPLORE MORE</button>
            </div>
        </div>

        <div class="col-lg-5 col-12 ">
            <div class="row text-center ">
                <div class="col-lg-5 col-md-5 mt-lg-3 mt-md-3 mt-3 ">
                    <img src="public/image/about-1.jpg" class="img-fluid img2 " alt="">
                </div>
                <div class="col-lg-6 col-md-6 mt-lg-3 mt-md-3 mt-3">
                    <img src="public/image/about-2.jpg" class="img-fluid img2" alt="">
                </div>
                <div class="col-lg-6 col-md-6 mt-lg-3 mt-md-3 mt-3">
                    <img src="public/image/about-3.jpg" class="img-fluid img2" alt="">
                </div>
                <div class="col-lg-5 col-md-5 mt-lg-5 mt-md-5 ">
                    <img src="public/image/about-4.jpg" class="img-fluid mt-2 img2" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End About Us  -->

<!-- Our Rooms  -->
<div class="container-fluid mt-5">
    <hr>
    <div class="row m-2 text-center ">
        <h5 class="active">--OUR ROOMS--</h5>
        <h1>Explore Our <strong class="active">ROOMS</strong> </h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12 mt-3">
            <div class="card">
                <a href="#!/detail"> <img src="public/image/room-1.jpg" class="img-fluid img" alt=""></a>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                       <div>
                        Phòng vip
                       </div>
                        <div class="fs-6 active">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                        </div>
                    </h5>
                    <div class="card-text d-flex justify-content-between active mt-1 mb-1">
                        <div>
                            <i class="fa-solid fa-bed"></i> 3 Bed
                        </div>
                        <div>
                            <i class="fa-solid fa-bath"></i> 2 Bath
                        </div>
                        <div>
                            <i class="fa-solid fa-tv"></i> TV
                        </div>
                        <div>
                            <i class="fa-solid fa-wifi"></i> Wifi
                        </div>
                    </div>
                    <h5 class="card-text pt-1 text-danger  "> $100/Night</h5>
                    <p class="card-text">Phòng dành cho người nhiều tiền, thích ở phòng sịn,mịn !!!</p>
                </div>
                <div class="card-footer bg-white border-0 d-flex justify-content-between gap-2">
                    <a href="#!/detail" class="btn btn-bg text-white img2">VIEW DETAIL</a>
                    <a href="" class="btn btn-dark text-white img2">BOOK NOW</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-3">
            <div class="card">
                <a href="#!/detail"> <img src="public/image/room-2.jpg" class="img-fluid img" alt=""></a>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        <div>
                            Phòng vip
                        </div>
                        <div class="fs-6 active">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                        </div>
                    </h5>
                    <div class="card-text d-flex justify-content-between active mt-1 mb-1">
                        <div>
                            <i class="fa-solid fa-bed"></i> 3 Bed
                        </div>
                        <div>
                            <i class="fa-solid fa-bath"></i> 2 Bath
                        </div>
                        <div>
                            <i class="fa-solid fa-tv"></i> TV
                        </div>
                        <div>
                            <i class="fa-solid fa-wifi"></i> Wifi
                        </div>
                    </div>
                    <h5 class="card-text pt-1 text-danger  "> $100/Night</h5>
                    <p class="card-text">Phòng dành cho người nhiều tiền, thích ở phòng sịn,mịn !!!</p>
                </div>
                <div class="card-footer bg-white border-0 d-flex justify-content-between gap-2">
                    <a href="#!/detail" class="btn btn-bg text-white img2">VIEW DETAIL</a>
                    <a href="" class="btn btn-dark text-white img2">BOOK NOW</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-3">
            <div class="card">
                <a href="#!/detail"> <img src="public/image/room-3.jpg" class="img-fluid img" alt=""></a>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        <div>
                            Phòng vip
                        </div>
                        <div class="fs-6 active">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                        </div>
                    </h5>
                    <div class="card-text d-flex justify-content-between active mt-1 mb-1">
                        <div>
                            <i class="fa-solid fa-bed"></i> 3 Bed
                        </div>
                        <div>
                            <i class="fa-solid fa-bath"></i> 2 Bath
                        </div>
                        <div>
                            <i class="fa-solid fa-tv"></i> TV
                        </div>
                        <div>
                            <i class="fa-solid fa-wifi"></i> Wifi
                        </div>
                    </div>
                    <h5 class="card-text pt-1 text-danger  "> $100/Night</h5>
                    <p class="card-text">Phòng dành cho người nhiều tiền, thích ở phòng sịn,mịn !!!</p>
                </div>
                <div class="card-footer bg-white border-0 d-flex justify-content-between gap-2">
                    <a href="#!/detail" class="btn btn-bg text-white img2">VIEW DETAIL</a>
                    <a href="" class="btn btn-dark text-white img2">BOOK NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ENd Our Rooms  -->

<!-- Luxury Living  -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-12 bg-dark text-white mt-5 p-5">
            <h5>LUXURY LIVING ---</h5>
            <h1>Discover A Brand Luxurious Hotel</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nulla eaque aliquam veritatis vero cum eveniet inventore rerum vitae mollitia culpa,
                dolorum esse voluptate itaque velit iste tempore error, suscipit eius?</p>
            <div class="d-flex  gap-2">
                <a href="" class="btn btn-bg text-white img2">OUR ROOM</a>
                <a href="" class="btn bg-white img2">BOOK A ROOM</a>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-12 mt-5 ">
            <img src="public/image/153042456.webp" class="img-fluid w-100 h-100 img2" alt="">
        </div>
    </div>
</div>

<!--End Luxury Living  -->

<!-- OUR Service  -->
<div class="container-fluid mt-5 text-center">
<hr>
    <div class="row m-2">
        <h5>---OUR SERVICE---</h5>
        <h1>Explore Our <strong class="active">SERVICES</strong></h1>
        <div class=" col-lg-4 col-md-4 col-12 mt-4">
            <div class="card img">
                <div class="card-header bg-white border-0">
                    <i class="fa-solid fa-hotel fs-1 mt-5 active"></i>
                </div>
                <div class="card-body mb-5">
                    <h5 class="card-title">ROOM & APPARTMENT</h5>
                    <p class="card-text">Lorem ipsum dolor sit, ametlorem dignissimem as itaque labore illo beatae facilis ipsam! Id, cum?</p>
                </div>
                
            </div>
        </div>

        <div class=" col-lg-4 col-md-4 col-12 mt-4">
            <div class="card img">
                <div class="card-header bg-white border-0">
                    <i class="fa-solid fa-utensils fs-1 mt-5 active"></i>
                </div>
                <div class="card-body mb-5">
                    <h5 class="card-title">Food & Restaurant</h5>
                    <p class="card-text">Lorem ipsum dolor sit, ametlorem dignissimem as itaque labore illo beatae facilis ipsam! Id, cum?</p>
                </div>
                
            </div>
        </div>

        <div class=" col-lg-4 col-md-4 col-12 mt-4">
            <div class="card img">
                <div class="card-header bg-white border-0">
                    <i class="fa-solid fa-spa fs-1 mt-5 active"></i>
                </div>
                <div class="card-body mb-5">
                    <h5 class="card-title">Spa & Fitness </h5>
                    <p class="card-text">Lorem ipsum dolor sit, ametlorem dignissimem as itaque labore illo beatae facilis ipsam! Id, cum?</p>
                </div>
                
            </div>
        </div>

        <div class=" col-lg-4 col-md-4 col-12 mt-4">
            <div class="card img">
                <div class="card-header bg-white border-0">
                    <i class="fa-solid fa-person-swimming fs-1 mt-5 active"></i>
                </div>
                <div class="card-body mb-5">
                    <h5 class="card-title">Sport & Gaming</h5>
                    <p class="card-text">Lorem ipsum dolor sit, ametlorem dignissimem as itaque labore illo beatae facilis ipsam! Id, cum?</p>
                </div>
                
            </div>
        </div>

        <div class=" col-lg-4 col-md-4 col-12 mt-4">
            <div class="card img">
                <div class="card-header bg-white border-0">
                    <i class="fa-solid fa-champagne-glasses fs-1 mt-5 active"></i>
                </div>
                <div class="card-body mb-5">
                    <h5 class="card-title">Event & Party</h5>
                    <p class="card-text">Lorem ipsum dolor sit, ametlorem dignissimem as itaque labore illo beatae facilis ipsam! Id, cum?</p>
                </div>
                
            </div>
        </div>

        <div class=" col-lg-4 col-md-4 col-12 mt-4">
            <div class="card img">
                <div class="card-header bg-white border-0">
                    <i class="fa-solid fa-dumbbell fs-1 mt-5 active"></i>
                </div>
                <div class="card-body mb-5">
                    <h5 class="card-title">Gym & Yoga</h5>
                    <p class="card-text">Lorem ipsum dolor sit, ametlorem dignissimem as itaque labore illo beatae facilis ipsam! Id, cum?</p>
                </div>
                
            </div>
        </div>
        
        
    </div>
</div>
<!--ENd OUR Service  -->
