<div class="container">
    <div class="row mt-5 mb-5">
        <h2>Thông tin bảo hiểm</h2>
        <div class="form-group mt-2">
          <label for="">Họ tên</label>
          <input type="text"  ng-model="inputValue.name" class="form-control" placeholder="" aria-describedby="helpId">
          <span ng-show="kiemTraDuLieu.name" class="text-danger">{{ kiemTraDuLieu.name }}</span>
        </div>
        <div class="form-group mt-2">
            <label for="">Giới tính</label>
            <input type="radio" name="gender" ng-model="inputValue.gender" value="1"> Nam
            <input type="radio" name="gender" ng-model="inputValue.gender" value="2"> Nữ

          </div>
          <span ng-show="kiemTraDuLieu.gender" class="text-danger" >{{ kiemTraDuLieu.gender }}</span>

          <div class="form-group mt-2">
            <label for="">Năm sinh</label>
            <input type="number"  ng-model="inputValue.year" class="form-control" placeholder="" aria-describedby="helpId">
          <span ng-show="kiemTraDuLieu.year" class="text-danger">{{ kiemTraDuLieu.year }}</span>
            
          </div>
          <div class="form-group mt-2">
            <label for="">Cấp bậc</label>
            <select ng-model="inputValue.level" class="form-select" id="">
              <option value="">Vui lòng chọn</option>
              <option value="1">Cấp bậc 1</option>
              <option value="2">Cấp bậc 2</option>
              <option value="3">Cấp bậc 3</option>
            </select>
          <span ng-show="kiemTraDuLieu.level" class="text-danger">{{ kiemTraDuLieu.level }}</span>

          </div>
          <div class="form-group mt-2">
            <label for="">Số giờ làm việc</label>
            <input type="number" ng-model="inputValue.sogiolamviec" class="form-control" placeholder="" aria-describedby="helpId">
            <span ng-show="kiemTraDuLieu.sogiolamviec" class="text-danger" >{{ kiemTraDuLieu.sogiolamviec }}</span>

          </div>
          <div class="form-group mt-3 ">
            <button class="btn btn-primary "  ng-click="onSubmitForm()">Lưu</button>
          </div>
    </div>
</div>

<table class="table  text-center table-striped table-hover table-bordered table-sm table-responsive-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tên</th>
      <th scope="col">Tuổi</th>
      <th scope="col">Giới tính</th>
      <th scope="col">Tổng lương</th>
      <th scope="col">Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="value in nhanvien">
      <th scope="row">{{ value.id }}</th>
      <td>{{ value.name }}</td>
      <td>{{ (today | date:'yyyy') - value.year }}</td>
      <td>{{ value.gender==1 ? "Nam" : "Nữ" }}</td>
      <td>{{ value.totalMoney }}</td>
      <td>
          <button ng-click="onEdit(value.id)" class="btn btn-primary w-25">Edit</button>
          <button ng-click="onDelete(value.id)" class="btn btn-danger w-25">Delete</button>

      </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>