
<title>{{ title }}</title>
<div ng-app="myapp">

    <div class="container mt-5" >
        <h1>{{ title }}</h1>
            <form>
                <div class="form-group">
                    <label for="my-input">Chiều dài</label>
                    <input id="my-input" class="form-control" ng-model="length" type="text" name="">
                </div>
                <div class="form-group">
                    <label for="my-input">Chiều rộng</label>
                    <input id="my-input" class="form-control" ng-model="width" type="text" name="">
                </div>
                <div class="form-group">
                    <label for="my-input">Diện tích</label>
                    <input id="my-input" class="form-control" ng-bind="acreage" value="{{acreage}}" type="text" name="">
                </div>
                <div class="form-group">
                    <label for="my-input">Chu vi</label>
                    <input id="my-input" class="form-control" ng-bind="perimeter" value="{{perimeter}}" type="text"
                        name="">
                </div>
                <button ng-click="calculate()" class="btn btn-primary mt-3">Calculate</button>

            </form>
        </div>
    </div>
<!-- <script>
function myFunct($scope){
        //luôn luôn có tham số scope
        $scope.welcome="Bài 4 - Lab 4";
        // phía sau scope là biến  khởi tạo để render ra view
    }
    
    // khai báo angularjs cùng với sự dụng 
    var app = angular.module("myapp", []);
    app.controller("demoController",myFunct);
    // viết tắt
    app.controller("infocontroller", function ($scope) {
        $scope.calculate = function () {
            var a = parseFloat($scope.width);
            var b = parseFloat($scope.length);
            $scope.acreage = a * b;
            $scope.perimeter = (a + b) * 2;
        }

    });
    // làm lab4
</script> -->

