<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
</head>
<script src="libs/angular.min.js"></script>
<!-- nhúng thư viện angularjs -->

<body ng-app="myapp">

    <div ng-controller="infocontroller">
        <div class="container">
            <div ng-controller="demoController">
                <h1>{{welcome}}</h1>
        
            </div>
            <form>
                <div class="form-group">
                    <label for="my-input">Tên</label>
                    <input id="my-input" class="form-control" ng-model="name" type="text" name="">
                </div>
                <div class="form-group">
                    <label for="my-input">Mã sinh viên</label>
                    <input id="my-input" class="form-control" ng-model="ma" type="text" name="">
                </div>
                <div class="form-group">
                    <label for="my-input">Mail</label>
                    <input id="my-input" class="form-control" ng-model="mail" type="text" name="">
                </div>
                <div class="form-group">
                    <label for="my-input">Điểm</label>
                    <input id="my-input" class="form-control" ng-model="diem" type="text" name="">
                </div>
                <button ng-click="hienthi()" class="btn btn-primary mt-3">Calculate</button>

            </form>

            <table class="table table-striped table-hover table-bordered text-center mt-3">
                <thead>
                  <tr>
                    <th>Tên</th>
                    <th>MaSV</th>
                    <th>Mail</th>
                    <th>Xếp loại</th>
                    <th scope="col">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                    
                  <tr >
                    <th> {{name}}</th>
                    <th>{{ma}}</th>
                    <th>{{mail}}</th>
                    <th>{{a}}</th>
                    <th>
                      <a href="" class="btn btn-danger">Xoá</a>
                      <a href="" class="btn btn-primary">Sửa</a>
                    </th>
                  </tr>
                </tbody>
              </table>

            
        </div>

    </div>
</body>
<script>
function myFunct($scope){
        //luôn luôn có tham số scope
        $scope.welcome="Bài 5 - Lab 4";
        // phía sau scope là biến  khởi tạo để render ra view

    }
    // khai báo angularjs cùng với sự dụng 
    var app = angular.module("myapp", []);
    app.controller("demoController",myFunct);

    app.controller("infocontroller", function ($scope) {

        $scope.hienthi = function () {

            $scope.a;
            var b = parseFloat($scope.diem);
            if (b > 5) {
                var name = $scope.name;
                var ma = $scope.ma;
                var mail = $scope.mail;
                $scope.a = "đậu";
            } if (b < 5) {
                var name = $scope.name;
                var ma = $scope.ma;
                var mail = $scope.mail;
                $scope.a = "rớt";
            }

        }

    });
    // làm lab4
</script>

</html>