<title>{{ title }}</title>
<!-- Liên hệ -->
<hr>
<aside class="bg-light mt-5">
    <div class="row bg-white m-3">
        <h1>Liên hệ</h1>
        <div class="col-lg-7 col-md-7 col-12">
            <div class="mt-4">
                <label for="my-input">Chọn bộ phận liên hệ</label>
                <select name="" class="form-select" id="">
                    <option value="">Chọn bộ phận liên hệ</option>
                    <option value="">Chăm sóc khách hàng</option>
                    <option value="">Marketing</option>
                    <option value="">Nhân sự</option>
                </select>
            </div>
            <div class="form-group mt-2">
                <label for="my-input">Tên của bạn:</label>
                <input id="my-input" class="form-control" placeholder="Vui lòng nhập họ và tên" type="text" name="">
            </div>
            <div class="form-group mt-2">
                <label for="my-input">Điện thoại:</label>
                <input id="my-input" class="form-control" placeholder="Vui lòng nhập số điện thoại" type="number"
                    name="">
            </div>
            <div class="form-group mt-2">
                <label for="my-input">Email:</label>
                <input id="my-input" class="form-control" placeholder="Vui lòng nhập email" type="email" name="">
            </div>
            <div class="form-group mt-2">
                <label for="my-input">Nội dung:</label>
                <input id="my-input" class="form-control" placeholder="Vui lòng nhập nội dung" style="height: 90px;"
                    type="text" name="">
            </div>
            <div class="form-group mt-3   ">
                <button class="btn btn-bg col-lg-2 text-center img2">Gửi</button>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nếu có bất kỳ thắc mắc nào, vui lòng liên hệ với tư vấn viên XuanThuy
                        theo</h5>
                    <p class="card-text">Hotline: <strong>098888333</strong> <br> hoặc <br> Email:
                        <strong>thuytxph26691@fpt.edu.vn</strong>
                    </p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.863855883108!2d105.7445930497157!3d21.03813279276717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2sFPT%20Polytechnic%20Hanoi!5e0!3m2!1sen!2s!4v1679314630886!5m2!1sen!2s"
                        class="w-100 " height="200" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">CÔNG TY TNHH CÔNG NGHỆ XUANTHUY </h5>
                    <hr>
                    <p class="card-text">Trịnh Văn Bô, Thành phố Hà Nội <br>

                        Số tài khoản: 99880088000 <br>

                        Ngân hàng: Vietcombank <br>

                        Chi nhánh Sở giao dịch</p>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- End liên hệ -->